# Python Frameworks
flask
flask_cors
pymongo

# Packages
Pymongo

# Machine Learning Libraries
joblib 
scikit-learn 
pandas

# Notebooks
Jupyter # For data visualization 

# Database 
MongoDB

# Front End
React
Axios
